<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
  
  @using (Html.BeginForm("Search", "SearchDb", FormMethod.Get))
  {
    <select name="feedId" onchange="document.getElementsByTagName('form')[0].submit()">
      <option value="0">- Everything -</option>
      @foreach (Feed feed in ViewBag.Feeds)
      { 
        <option value="@feed.id" @if(Request.QueryString["feedId"] == feed.id.ToString()){<text>selected="selected"</text>}>@feed.name</option>
      }
    </select>
    <input type="search" name="query" value="@Request.QueryString["query"]" />
    <input type="submit" value="go!" />
    <br />
    <input onchange="document.getElementsByTagName('form')[0].submit()" type="checkbox" name="tiled" value="1" @if (ViewBag.tiled)
                                         {<text>checked="checked"</text> } />
    <input onchange="document.getElementsByTagName('form')[0].submit()" type="checkbox" name="faces" value="1" @if (ViewBag.faces)
                                                                                                               {<text>checked="checked"</text> } />
  }

  <h2>MWHackathon Harvester</h2>


    @RenderBody()

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2714808-20']);
      _gaq.push(['_trackPageview']);

      (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

</script>
</body>
</html>
