@model MWHackathonHarvester.Services.Faces
@{
  Layout = null;
  MWHackathonHarvester.Services.Faces uploaded = ViewBag.Faces;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"><html>  <head>    <title>Museumify me!</title>    <link rel="stylesheet" type="text/css" href="http://q42.nl/w00tcamp/w00tcamp-footer.css">    <link href="/content/facial.css" rel="stylesheet" type="text/css">    <link href="/content/jq.css" rel="stylesheet" type="text/css">    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>    <script src="/scripts/jquery.placeholder.js"></script>    <script src="/scripts/global.js"></script>    <style type="text/css">      h1 { font-size: 70px; }    </style>  </head>
  <body>    <a id="logo" href="/facial">home</a><div id="topbar">          <div id="main">      <div class="page">        <h1>Look at this piece of art...</h1>        <h2 style="visibility: hidden;">It's you!</h2>

        <canvas id="artobject" width="@Model.Width" height="@Model.Height">
          <p>Sorry, your browser doesn't support canvas.</p>
        </canvas>

      </div>
    </div>




<script>
  var ctx = document.getElementById('artobject').getContext('2d');
  var img1 = new Image();
  img1.onload = function () {
    ctx.drawImage(img1, 0, 0);
  };
  img1.src = '@Model.Url';
</script>


@{ int count = 0; }
@foreach (var face in uploaded.Items)
{
  int originalFaceHeight = (int)((Model.Items[count].Height / 100.0) * (double)Model.Height);
  int originalFaceWidth = (int)((Model.Items[count].Width / 100.0) * (double)Model.Width);
  int overlayFaceHeight = (int)((face.Height / 100.0) * (double)uploaded.Height);
  int overlayFaceWidth = (int)((face.Width / 100.0) * (double)uploaded.Width);
  var center = Model.Items[count].Center;
  int left = (int)((center.x / 100.0) * Model.Width) - (originalFaceWidth / 2);
  int top = (int)((center.y / 100.0) * Model.Height) - (originalFaceHeight / 2);

  var overlayCenter = uploaded.Items[count].Center;
  int overlayLeft = (int)((overlayCenter.x / 100.0) * uploaded.Width) - (overlayFaceWidth / 2);
  int overlayTop = (int)((overlayCenter.y / 100.0) * uploaded.Height) - (overlayFaceHeight / 2);

  double ratio = (double)originalFaceHeight / (double)overlayFaceHeight;
  <script>
  setTimeout(function() {
    var img = new Image();
    img.onload = function () {
      ctx.drawImage(img, @overlayLeft, @overlayTop, @overlayFaceWidth, @overlayFaceHeight, @left, @top, @originalFaceWidth, @originalFaceHeight);
      $('h2').css('visibility', 'visible');
    };
    img.src = '@uploaded.Url';
    }, 1000);
  </script>
  
  count++;
}


@*<style>
#picture
{
  -webkit-mask-image: -webkit-radial-gradient(white,transparent 50%);
}

img { position:absolute;
      top:0; left:0; }

</style>

<img src="@uploaded.Url" id="picture" />

*@

</body></html>