@model List<Entry>
@{
    ViewBag.Title = "Search";
    int count = 0;
}

<style>
  .alternate {background-color:#eee;}
  td { vertical-align:middle; padding:10px; }
</style>

<h2>@ViewBag.Amount results</h2>

<table cellpadding="0" cellspacing="0">
  <tr>
    <th>Feed</th>
    <th>Id</th>
    <th>Title</th>
    <th>Image</th>
  </tr>
@foreach (var entry in Model)
{
  count++;
  bool alternate = count % 2 == 0;
  <tr @if(alternate){<text>class="alternate"</text>}>
    <td>@foreach (Feed feed in ViewBag.Feeds)
        {
          if (feed.id == entry.feed_id)
          { 
            @feed.name
          }
        }</td>
    <td>@entry.object_id</td>
    <td>@entry.object_name</td>
    <td rowspan="2">
      @*@if (!string.IsNullOrEmpty(entry.object_imageurl))
      {
        <img src="/image/index?feedid=@entry.feed_id&entryid=@entry.id" />
      }*@

      @if (!string.IsNullOrEmpty(entry.object_imageurl))
      {
      <img src="@entry.object_imageurl" />
      }
    </td>
  </tr>
  <tr @if(alternate){<text>class="alternate"</text>}>
    <td colspan="3">
      <textarea style="width:95%; height:100px;">@Html.Raw(entry.body.Replace("><", ">\n<"))</textarea>
      <br />
      <textarea style="width:95%; height:100px;">@entry.facial_amount faces: @Html.Raw(entry.facialdata)</textarea>
    </td>
  </tr>
}
</table>